@model Library.ViewModels.KullaniciViewModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        media (max-width: 450px) {
            .h-custom

        {
            height: 100%;
        }
        }
    </style>
</head>
<body>

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-8 col-xl-5">
                    <img src="~/Content/Konya_Teknik_Üniversitesi_logo.svg.png" width="500px" height="500px" />

                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post" enctype="multipart/form-data" asp-controller="Security" asp-action="Register">


                        <div class="form-horizontal">
                            <div class="form-outline mb-8">
                                <label for="kullanici_adi">kullanıcı Adı</label>
                                <input type="text" class="form-control" name="kullanici_adi" id="kullanici_adi" />
                            </div>
                            <div class="form-outline mb-8">
                                <label for="kullanici_soyadi">kullanici soyadi</label>
                                <input type="text" class="form-control" name="kullanici_soyadi" id="kullanici_soyadi" />
                            </div>
                            <div class="form-outline mb-8">
                                <label for="kullanici_mail">kullanici mail</label>
                                <input type="text" class="form-control" name="kullanici_mail" id="kullanici_mail" />
                            </div>
                            <div class="form-outline mb-8">
                                <label for="kullanici_sifre">kullanici sifre</label>
                                <input type="text" class="form-control" name="kullanici_sifre" id="kullanici_sifre" />
                            </div>

                            <div class="form-outline mb-8">
                                <label for="kutuphane_id" class="control-label">kutuphane adı</label>
                                <select class="form-control" name="kutuphane_id" id="kutuphane_id">
                                    @foreach (var item in Model.kutuphanelist)
                                    {
                                        <option value="@item.kutuphane_id">@item.kutuphane_adi</option>
                                    }
                                </select>
                            </div>
                            <br />


                    </form>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Üyelik islemini tamamla" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Mustafa Kürşat Keskin © 2022. All rights reserved.
            </div>

        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>

