@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="row">

    <div class="col-md-4">

    </div>
    <div class="col-md-6 align-items-center">
        <img src="~/Content/Konya_Teknik_Üniversitesi_logo.svg.png" width="300" height="300" />
        <br />
        <br />
        <h3 style="color:darkgoldenrod">Kütüphane Otomasyonu</h3>
    </div>
    <div class="col-md-3">

    </div>

</div>