
@model Library.ViewModels.TurViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="form-horizontal">
    <h4>@ViewBag.tur_id id'li Kitap türü Güncelleniyor</h4>
    <form method="post" action="/Tur/Edit">

        <div class="form-outline mb-8">
            <input type="hidden" class="form-control" name="tur_id" id="tur_id" value="@ViewBag.tur_id" />
        </div>

        <div class="form-outline mb-8">
            <label for="tur_adi">kitap türü adi</label>
            <input type="text" class="form-control" name="tur_adi" id="tur_adi" value="@Model.turlist.FirstOrDefault().tur_adi" />
        </div>
        <br />
        <div class="form-outline mb-8">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
<br />
<div>
    <input type="button" class="btn btn-danger btn-rounded" value="Listeye Geri Dön" onclick="location.href='@Url.Action("Index", "Tur")'" />
</div>